@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-margin-base: 24px;
  --section-margin-large: 72px;

  --section-padding-base: 16px;
  --section-padding-large: 72px;
}

.light {
  --bg: #35183f;
  --bg-transparent: #35183fda;
  --text: #e5e7e7;
  --text-secondary: #666666;
  --primary: #0a6f4f;
  --gradient-start: #25144bdd;
  --gradient-end: #203f38dd;   /* keep as is */
}

.dark {
  --bg: #222222;
  --text: #f6f6f6;
  --text-secondary: #999999;
  --primary: #4f46e5;
}

.light-gray {
  --bg: #f6f6f6;
  --text: #222222;
  --text-secondary: #666666;
  --primary: #4f46e5;
}

.dark-gray {
  --bg: #5b5b5b;
  --text: #f6f6f6;
  --text-secondary: #bababa;
  --primary: #4f46e5;
}

.deep-violet {
  --bg: #1A1138;
}

.mid-violet {
  --bg: #2B1851;
}

@layer utilities {
  .gradient-header {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  }
  
  .gradient-footer {
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  }
}